<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="bigtitle">
				<h1>Brendan D'Souza</h1>
			</div>
			<div class="topnav" id="myTopnav">
				
	        		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	        		<a href="/" class="active">Home</a>
		        	<a href="/about/about.html">About</a>
	        		<a href="/resume/resume.html">Resume</a>
				
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="contact">
				<footer>
		    		<ul>
		        		<li><a href="mailto:b4dsouza@edu.uwaterloo.ca">email</a></li>
		        		<li><a href="https://github.com/brendandsouza">github.com/brendandsouza</a></li>
					</ul>
				</footer>
			</div>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script src="javascript/app.js"></script>
		</body>
	</html>
