<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

		</head>
		<body ng-app>
			<div class="bigtitle">
				<h1>Brendan D'Souza</h1>
			</div>
			<div class="navbar" id="myNavbar">
				
	        		<!--<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>-->
	        		<ul class="menu">

		        		<li><a href="/" id="home">Home</a></li>
			        	<li><a href="/about/about.html" id="about">About</a></li>
		        		<li><a href="/resume/resume.html" id="resume">Resume</a></li>
		        	</ul>
				
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="contact">
				<footer>
		    		<ul>
		        		<li><a href="mailto:b4dsouza@edu.uwaterloo.ca">email</a></li>
		        		<li><a href="https://github.com/brendandsouza">github.com/brendandsouza</a></li>
					</ul>
				</footer>
			</div>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script src="/javascript/app.js"></script>
		</body>
	</html>
