<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/about.html">About</a></li>
	        		<li><a href="/resume/resume.html">Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:b4dsouza@edu.uwaterloo.ca">email</a></li>
	        		<li><a href="https://github.com/brendandsouza">github.com/brendandsouza</a></li>
				</ul>
			</footer>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script src="javascript/app.js"
		</body>
	</html>
